
.tutorialButton{
    --background: #2D2D2D;
    --color: #E7E9E6;
}

.mainButton{
    --background: #7C0D1E;
    --color: #E7E9E6;
}

.minerButton{
    --background: #20555D;
    --color: #E7E9E6;   
}
