#centerContent{
    text-align:center;
}

#title{
    text-align:center;
    font-family: 'Teko';
    font-size: 32px;
}

.subTitle{
    font-family: 'Teko';
    font-size: 25px;
}


#infoSection{
    font-size: 1.15em;
    font-weight: 100;
    font-style: italic;
    color: grey;
}
