<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="headerTitle">
      Learn More About Cryptocurrency
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align:center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode I: The Crypto Menace</ion-card-title>
      <ion-card-subtitle>Lessons Included: 4</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.
    </ion-card-content>

    <ion-button color="light" routerLink="/tutorials-section1">
      <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode II: Attack of the Investors</ion-card-title>
      <ion-card-subtitle>Lessons Included: 5</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.
    </ion-card-content>

    <ion-button color="light" routerLink="/tutorials-section2">
      <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode III: Revenge of the Taxes</ion-card-title>
      <ion-card-subtitle>Lessons Included: 3</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.    
    </ion-card-content>

    <ion-button color="light">
      <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode IV: A Day Trader's Hope </ion-card-title>
      <ion-card-subtitle>Lessons Included: 8</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.
    </ion-card-content>

    <ion-button (click)="showAlert()" color="light">
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode V: The Miner Strikes Back </ion-card-title>
      <ion-card-subtitle>Lessons Included: 4</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.
    </ion-card-content>

    <ion-button (click)="showAlert()" color="light">
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Episode VI: Return of the Portfolio</ion-card-title>
      <ion-card-subtitle>Lessons Included: 6</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this section, users will learn more about the beauty of cryptocurrency
      and how it all began.
      <br>
      This will act as a launching off point to help understand
      the inner workings of the currency later on.
    </ion-card-content>

    <ion-button (click)="showAlert()" color="light">
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>