.titleColor{
    --background: #9599A4;
}

.titleText{
    --color: #243253;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 15px 10px  black;
}


ion-content{
    --background: #243253;
}

a{
    color: white;
    text-decoration: none;
}

.imgResize{
    width: 100px;
    height: 150px;
}

.item-thumbnail-left h2,.item-thumbnail-left p {
    display: inline-block;
    width: 33%;
    vertical-align:top;
    text-align: left;
}

.item-thumbnail-left, ion-img{
    display: inline-block;
    max-height: 100px !important;
    width: 77%;
    vertical-align:top;
}
