<ion-header [translucent]="true">
    <ion-toolbar class="titleColor">
        <ion-title class="titleText">
            Main Hub
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Main Hub</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="list">

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    
    </div>

    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>