<ion-header [translucent]="true">
    <ion-toolbar class="titleColor">
        <ion-title class="titleText">
            Main Hub
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Main Hub</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="list">
        <a class="item item-thumbnail-left" href="#">
        <ion-img [src]=""></ion-img>
        <!--<img src="Images/Maxrebo.jpg">-->
          <h2>Max Rebo</h2>
          <p>Star Wars Episode 6</p>
        </a>
    
    </div>
</ion-content>