<ion-header [translucent]="true">
  <ion-toolbar class="titleColor">
    <ion-title class="titleText">
      Imperial Miner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Imperial Miner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-header class="headerCss">
    <ion-row>
      <ion-col>
        <div>
          Account Balance:
          <ion-select>
            <ion-select-option value="Imperial Credit">Imperial Credit(IMC)</ion-select-option>
            <ion-select-option value="Wupiupi">Wupiupi(WPI)</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>
    <ion-row>
      <ion-col>
        <div>
          Twilek Head:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          Speed of the Mine:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div>
          Crypto DeathStar:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          Speed of the Mine:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div>
          Alderaan Coin:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          Speed of the Mine:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div>
          Rebo Crypto:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          Speed of the Mine:
        </div>
      </ion-col>
      <ion-col>
        <div>
          0.00
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>