.titleColor{
    --background: #9599A4;
}

.titleText{
    --color: #243253;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 10px 10px  black;
}


ion-content{
    --background: #243253;
}