<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Imperial Miner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Imperial Miner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="boxes">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <div>
          Your Name
        </div>
        <div>
          Job Title
        </div>
        <div>
          <Address>
            Your address here
          </Address>
        </div>
      </ion-col>
      <ion-col class="boxes">
        <div>
          Name:
        </div>
        <div>
          Email:
        </div>
        <div>
          Phone #:
        </div>
        <div>
          Address:
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="boxes">
        <div>
          Website:
        </div>
        <div>
          Github:
        </div>
        <div>
          Twitter:
        </div>
        <div>
          Instagram:
        </div>
        <div>
          Facebook:
        </div>
      </ion-col>
      <ion-col class="boxes">
        <div>
          Account Balance:
          <ion-select>
            <ion-select-option value="Imperial Credit">Imperial Credit(IMC)</ion-select-option>
            <ion-select-option value="Wupiupi">Wupiupi(WPI)</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
      <ion-col class="boxes">
        <div>
          Twilek Head: 0.00
        </div>
        <div>
          Speed of the Mine: 0.00
        </div>
      <br>
      <div>
        Crypto DeathStar:
      </div>
      <div>
        Speed of the Mine: 0.00
      </div>
      <br>
      <div>
        Alderaan Coin:
      </div>
      <div>
        Speed of the Mine: 0.00
      </div>
      <br>
      <div>
        Rebo Crypto:
      </div>
      <div>
        Speed of the Mine: 0.00
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>