#title {
    text-align:center;
    font-family: 'Teko';
    font-size: 32px;
}
.headerCss{
    margin-bottom: 15px;

}

.boxes{
   background-color: rgb(46, 46, 46); 
   border-radius:20px;
    box-shadow:5px 5px 5px black;
    margin:1rem 1rem 0 1rem;
    margin-bottom:1.5rem;
    width: auto;
  padding: 10px;
  height: auto;
}

div {
    padding: 5px;
}

