<ion-header>

  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink = "/tabs/tab1">
        Home
      </ion-breadcrumb>
      <ion-breadcrumb routerLink = "/tabs/tab2">
        Tutorial Main
      </ion-breadcrumb>
      <ion-breadcrumb>
        Tutorial Section 2
      </ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" style="text-align:center">

  <h1>Second Section Tutorial</h1>

  <!--Iconic Tutorial Card 1-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="introduction">
          <ion-item slot="header">
            <ion-label>Introduction</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut pharetra sit amet aliquam id. Sed cras ornare arcu dui vivamus. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. 
              Id donec ultrices tincidunt arcu non sodales neque. Ut tellus elementum sagittis vitae et leo duis ut. Id neque aliquam vestibulum morbi 
              blandit cursus risus at. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed faucibus turpis in eu mi bibendum neque egestas congue. 
              Vitae et leo duis ut. Volutpat consequat mauris nunc congue. Amet mauris commodo quis imperdiet. Faucibus scelerisque eleifend donec pretium 
              vulputate sapien nec sagittis aliquam. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Rutrum quisque non tellus orci 
              ac auctor augue mauris. Amet tellus cras adipiscing enim. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Hendrerit dolor magna eget est lorem. 
              Mauris pellentesque pulvinar pellentesque habitant. Non curabitur gravida arcu ac tortor dignissim convallis.</p>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="videos">
          <ion-item slot="header">
            <ion-label>Video Tutorial</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <h2>Watch the Video for In Depth Explanation</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GEPcxs5IIJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="recap">
          <ion-item slot="header">
            <ion-label>Recap</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut pharetra sit amet aliquam id. Sed cras ornare arcu dui vivamus. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. 
              Id donec ultrices tincidunt arcu non sodales neque. Ut tellus elementum sagittis vitae et leo duis ut. Id neque aliquam vestibulum morbi 
              blandit cursus risus at. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed faucibus turpis in eu mi bibendum neque egestas congue. 
              Vitae et leo duis ut. Volutpat consequat mauris nunc congue. Amet mauris commodo quis imperdiet. Faucibus scelerisque eleifend donec pretium 
              vulputate sapien nec sagittis aliquam. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Rutrum quisque non tellus orci 
              ac auctor augue mauris. Amet tellus cras adipiscing enim. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Hendrerit dolor magna eget est lorem. 
              Mauris pellentesque pulvinar pellentesque habitant. Non curabitur gravida arcu ac tortor dignissim convallis.</p>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <!--Iconic Tutorial Card 2-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="introduction">
          <ion-item slot="header">
            <ion-label>Introduction</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut pharetra sit amet aliquam id. Sed cras ornare arcu dui vivamus. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. 
              Id donec ultrices tincidunt arcu non sodales neque. Ut tellus elementum sagittis vitae et leo duis ut. Id neque aliquam vestibulum morbi 
              blandit cursus risus at. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed faucibus turpis in eu mi bibendum neque egestas congue. 
              Vitae et leo duis ut. Volutpat consequat mauris nunc congue. Amet mauris commodo quis imperdiet. Faucibus scelerisque eleifend donec pretium 
              vulputate sapien nec sagittis aliquam. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Rutrum quisque non tellus orci 
              ac auctor augue mauris. Amet tellus cras adipiscing enim. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Hendrerit dolor magna eget est lorem. 
              Mauris pellentesque pulvinar pellentesque habitant. Non curabitur gravida arcu ac tortor dignissim convallis.</p>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="videos">
          <ion-item slot="header">
            <ion-label>Video Tutorial</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <h2>Watch the Video for In Depth Explanation</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GEPcxs5IIJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="recap">
          <ion-item slot="header">
            <ion-label>Recap</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut pharetra sit amet aliquam id. Sed cras ornare arcu dui vivamus. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. 
              Id donec ultrices tincidunt arcu non sodales neque. Ut tellus elementum sagittis vitae et leo duis ut. Id neque aliquam vestibulum morbi 
              blandit cursus risus at. Rutrum quisque non tellus orci ac auctor augue mauris augue. Sed faucibus turpis in eu mi bibendum neque egestas congue. 
              Vitae et leo duis ut. Volutpat consequat mauris nunc congue. Amet mauris commodo quis imperdiet. Faucibus scelerisque eleifend donec pretium 
              vulputate sapien nec sagittis aliquam. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Rutrum quisque non tellus orci 
              ac auctor augue mauris. Amet tellus cras adipiscing enim. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Hendrerit dolor magna eget est lorem. 
              Mauris pellentesque pulvinar pellentesque habitant. Non curabitur gravida arcu ac tortor dignissim convallis.</p>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

</ion-content>

