#centerContent{
    text-align:center;
}

#title{
    text-align:center;
    font-family: 'Teko';
    font-size: 30px;
}

#breadCrumb{
    font-family: 'Teko';
    font-size: 18px;
}

.subTitle{
    font-family: 'Teko';
    font-size: 25px;
    color: grey;
}

#accordionTab{
    text-align: center;
    color: gray;
}